.header{
    width: 1980px;
    background-color: rgb(187, 63, 18);
    text-align: center;
    padding: 10px;
}

.zonas{
    width: 2000px;
    height: 420px;
    display: flex;
    /* margin: 50px; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
}


.laterales{
    width: 500px;
    height: 420px;
    background-color: gray;
    margin: 0;
    text-align: center;
    color: whitesmoke;
}


.central{
    width: 1000px;
    height: 420px;
    background-color: white;
    margin: 0;
    text-align: center;
}

/* h2{
    color: white;
}

h3{
    size: 48px;
} */